{% extends "base.html" %}

{% block content %}

{% if form.errors %}
  <p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}
  <h1>Авторизация</h1>
<table>

<tr>
  <td><label for="id_custom_username">Имя пользователя:</label></td>
  <td><input type="username" name="custom_username" id="id_custom_username" class="custom-username-field"></td>
</tr>

<tr>
  <td><label for="id_custom_password">Пароль:</label></td>
  <td><input type="password" name="custom_password" id="id_custom_password" class="custom-password-field"></td>
</tr>
</table>
<br>
<input type="submit" value="Войти" />
<input type="hidden" name="next" value="{{ next }}" />
</form>

<p><a href="{% url 'register' %}">Зарегистрироваться</a></p>
<p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>

{% endblock %}